.show-more-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 50px 0;
  background-color: #00111c;
  &__button {
    padding: 15px 30px;
    min-width: 150px;
    text-align: center;
    background-color: #f0141e;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
    &:hover {
      transition: .2s;
      background-color: #b6141d;
    }
  }
  &__loading {
    animation: loading 1s ease-in-out infinite;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}