.loading {
  color: #fff;
  position: absolute;
  top: 50%;
  margin: auto;
  left: 0;
  right: 0;
}

.char-details-container {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__wrapper {
    position: relative;
    width: 1000px;
    padding: 50px 0 0 0;
    display: flex;
  }
  &__name {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
  }
  &__descr {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
  }
  &__img {
    border-bottom: 5px solid red;
    width: 450px;
  }
  &__img-wrapper {
    width: 50%;
    padding: 0 0 0 8px;
  }
  &__descr-wrapper {
    width: 50%;
  }
}